@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Outfit',sans-serif;
}
body {
  background:#024;
  display:flex;
  align-items:center;
  justify-content:center;
}
.card {
  height:80%;
  width:90%;
  background:#246;
  border-radius:5%;
  padding:4%;
  top:10px;
  margin:auto;
 }

.img-container {
  position:relative;
  width:100%;
  top:10px;
}
.img-1 {
  width:100%;
  border-radius:5px;
  height:100%;
}
h3.ether {
  color:#00eeff;
  margin-right:auto;
}
h2.equi {
  color:white;}
h2.equi:hover {
  color:#00eeff;
}
p.equi{
  color:#ddeeff;
}
.img-2 {
  display:inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
}
.author-container {
  display:flex;
}
.crypto {
  display:flex;
  border-bottom:2px solid #abcdef;
}
footer{
  
  position:bottom left;
  color:white;
}
@media screen and (min-width: 500px) {
    .card {
        width: 300px;
      height:55%;
    }
